.header {
    padding:2rem;
    display: flex;
    justify-content: space-between;

    ul{
        display: flex;
        li{
            margin-left: 1rem;
            display: flex;
            align-items: center;
            margin-left:1rem;
            color: #141d23;
            font-weight: bold;
            &:hover{
                color: rgb(1, 117, 88);
            }
            p{
                font-size: 14px;
                margin-left: 0.3rem;
            }
        }
    }
}